<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiqueta a</title>
</head>
<body>
    <h1 align="center"><b>Etiqueta a</b></h1>
    <hr>
    <h2>¿Qué es la etiqueta a?</h2>
    <p> <font face="Arial" size="4">
        La etiqueta <b>&lt;a&gt;</b> define un enlace en una página HTML.
        Se utiliza para crear enlaces a otras páginas web o recursos.
        <br><br>
    </font></p>

    <hr>

    <h2>Ejemplo de uso</h2>
    <p> <font face="Arial" size="4">
        Ejemplo básico de cómo se utiliza la etiqueta <b>&lt;a&gt;</b> en un documento HTML:
        <br><br>
        <code>&lt;!DOCTYPE html&gt;</code>
        <br>
        <code>&lt;html lang="en"&gt;</code>
        <br>
        <code>&lt;head&gt;</code>
        <br>
        <code>&lt;title&gt;Título de la página&lt;/title&gt;</code>
        <br>
        <code>&lt;/head&gt;</code>
        <br>
        <code>&lt;body&gt;</code>
        <br>
        <code>&lt;h1&gt;Título principal&lt;/h1&gt;</code>
        <br>
        <code>&lt;a href="https://www.ejemplo.com"&gt;Visita nuestro sitio web&lt;/a&gt;</code>
        <br>
        <code>&lt;/body&gt;</code>
        <br>
        <code>&lt;/html&gt;</code>
    </font></p>

    <hr>
    <h2>Resultado</h2>
    <p> <a href="https://www.ejemplo.com">Visita nuestro sitio web</a>.</p>
    <hr>

    <button onclick="window.location.href='/inicio'">Pagina principal</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/em'">Anterior etiqueta</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/img'">Siguiente etiqueta</button>

</body>
</html>