<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>

<h1 align="center"> PROYECTO 1 "ETIQUETAS" </h1>
<p align="center">En este programa, podras navegar en diferentes pantallas para el uso de etiquetas y saber en que consisten</p>
<hr>
<br>
<h2 align="center">Conoce las distintas etiquetas</h2>
<br>

<table border="1" align="center">

    <tr align="center">
        <th>#</th>
        <th>Etiqueta</th>
        <th>Categoría</th>
        <th>Descripción</th>
        <th>Ver</th>
    </tr>

    <tr align="center">
        <td>1</td>
        <td>html</td>
        <td>Estructura</td>
        <td>Contenedor principal del documento HTML</td>
        <td><a href="/html">Ver</a></td>
    </tr>

    <tr align="center">
        <td>2</td>
        <td>head</td>
        <td>Estructura</td>
        <td>Contiene metadatos del documento</td>
        <td><a href="/head">Ver</a></td>
    </tr>

    <tr align="center">
        <td>3</td>
        <td>body</td>
        <td>Estructura</td>
        <td>Contiene el contenido visible de la página</td>
        <td><a href="/body">Ver</a></td>
    </tr>

    <tr align="center">
        <td>4</td>
        <td>h1</td>
        <td>Texto</td>
        <td>Encabezado principal</td>
        <td><a href="/h1">Ver</a></td>
    </tr>

    <tr align="center">
        <td>5</td>
        <td>h2</td>
        <td>Texto</td>
        <td>Encabezado secundario</td>
        <td><a href="/h2">Ver</a></td>
    </tr>

    <tr align="center">
        <td>6</td>
        <td>p</td>
        <td>Texto</td>
        <td>Define un párrafo</td>
        <td><a href="/p">Ver</a></td>
    </tr>

    <tr align="center">
        <td>7</td>
        <td>span</td>
        <td>Texto</td>
        <td>Contenedor en línea para texto</td>
        <td><a href="/span">Ver</a></td>
    </tr>

    <tr align="center">
        <td>8</td>
        <td>strong</td>
        <td>Texto</td>
        <td>Indica texto importante en negritas</td>
        <td><a href="/strong">Ver</a></td>
    </tr>

    <tr align="center">
        <td>9</td>
        <td>em</td>
        <td>Texto</td>
        <td>Indica énfasis en el texto</td>
        <td><a href="/em">Ver</a></td>
    </tr>

    <tr align="center">
        <td>10</td>
        <td>a</td>
        <td>Enlaces</td>
        <td>Crea enlaces</td>
        <td><a href="/a">Ver</a></td>
    </tr>

    <tr align="center">
        <td>11</td>
        <td>img</td>
        <td>Multimedia</td>
        <td>Inserta imágenes</td>
        <td><a href="/img">Ver</a></td>
    </tr>

    <tr align="center">
        <td>12</td>
        <td>ul</td>
        <td>Listas</td>
        <td>Lista no ordenada</td>
        <td><a href="/ul">Ver</a></td>
    </tr>

    <tr align="center">
        <td>13</td>
        <td>ol</td>
        <td>Listas</td>
        <td>Lista ordenada</td>
        <td><a href="/ol">Ver</a></td>
    </tr>

    <tr align="center">
        <td>14</td>
        <td>li</td>
        <td>Listas</td>
        <td>Elemento de una lista</td>
        <td><a href="/li">Ver</a></td>
    </tr>

    <tr align="center">
        <td>15</td>
        <td>table</td>
        <td>Tablas</td>
        <td>Crea una tabla</td>
        <td><a href="/table">Ver</a></td>
    </tr>

    <tr align="center">
        <td>16</td>
        <td>tr</td>
        <td>Tablas</td>
        <td>Define una fila en una tabla</td>
        <td><a href="/tr">Ver</a></td>
    </tr>

    <tr align="center">
        <td>17</td>
        <td>td</td>
        <td>Tablas</td>
        <td>Define una celda en una tabla</td>
        <td><a href="/td">Ver</a></td>
    </tr>

    <tr align="center">
        <td>18</td>
        <td>form</td>
        <td>Formularios</td>
        <td>Crea formularios</td>
        <td><a href="/form">Ver</a></td>
    </tr>

    <tr align="center">
        <td>19</td>
        <td>input</td>
        <td>Formularios</td>
        <td>Campo de entrada de datos</td>
        <td><a href="/input">Ver</a></td>
    </tr>

    <tr align="center">
        <td>20</td>
        <td>button</td>
        <td>Formularios</td>
        <td>Crea botones interactivos</td>
        <td><a href="/button">Ver</a></td>
    </tr>

</table>

</body>
</html>