<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etiqueta a</title>
</head>

<body>

<h1 align="center">Etiqueta &lt;a&gt;</h1>
<hr>

<h2>¿Qué es la etiqueta &lt;a&gt;?</h2>

<p>
    La etiqueta <b>&lt;a&gt;</b> se utiliza para crear enlaces (links) que permiten
    ir a otra página web, archivo o sección dentro de un sitio.
</p>

<p>
    Los enlaces son una parte fundamental de la navegación en la web.
</p>

<hr>

<h2>Ejemplo funcionando</h2>

<p>Haz clic en el siguiente enlace:</p>

<a href="https://www.google.com" target="_blank">
    Ir a Google
</a>
<p>
    Este enlace abre la página de Google en una nueva pestaña.
</p>
<hr>

<h2>Código del ejemplo</h2>

<p>
    Ejemplo básico de cómo se utiliza la etiqueta <b>&lt;a&gt;</b> en un documento HTML:
    <br><br>

    <code>&lt;html&gt;</code>
    <br>
    <code>&lt;body&gt;</code>
    <br>
    <code>&lt;p&gt;Ir a Google:&lt;/p&gt;</code>
    <br>
    <code>&lt;a href="https://www.google.com"&gt;Google&lt;/a&gt;</code>
    <br>
    <code>&lt;/body&gt;</code>
    <br>
    <code>&lt;/html&gt;</code>

</p>


<hr>

<h2>Tipos de enlaces</h2>

<h3>Enlace a otra página</h3>

<a href="https://www.wikipedia.org" target="_blank">
    Visitar Wikipedia
</a>

<br><br>
<hr>

<center>

    <a href="inicio.html">
        <button>
            Página principal
        </button>
    </a>


    &nbsp;&nbsp;

    <a>
        <button href="em.html">
            Anterior etiqueta
        </button>
    </a>

    &nbsp;&nbsp;

    <a href="img.html">
        <button>
            Siguiente etiqueta
        </button>
    </a>


</center>

</body>
</html>
