<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etiqueta audio</title>
</head>

<body>

<h1 align="center">Etiqueta &lt;audio&gt;</h1>
<hr>

<h2>¿Qué es la etiqueta &lt;audio&gt;?</h2>

<p>
    La etiqueta <b>&lt;audio&gt;</b> se utiliza para colocar audios de cualquier tipo, que
    permite interactuar con ello
</p>

<hr>

<center>
    <h2>Ejemplo funcionando</h2>

    <audio controls>
        <source src="/fotos/WhatsApp%20Audio%202026-03-09%20at%207.09.24%20PM.mp4">
    </audio>
</center>

<h2>Código del ejemplo</h2>

<pre>
&lt;p&gt; Your love - The outfield &lt;/p&gt;
&lt;audio controls&gt;
&lt;source src="audio/ejemplo.mp4" type="audio/mp4"&gt;
&lt;/audio&gt;
</pre>

<hr>

<center>

    <button onclick="window.location.href='/inicio'">Pagina principal</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/video'">Anterior etiqueta</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/li'">Siguiente etiqueta</button>

</center>

</body>
</html>
