<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiqueta Body</title>
</head>
<body>
    <h1 align="center"><b>Etiqueta Body</b></h1>
    <hr>
    <h2>¿Qué es la etiqueta Body?</h2>
    <p> <font face="Arial" size="4">
        La etiqueta <b>&lt;body&gt;</b> contiene el contenido visible de un documento HTML,
        como texto, imágenes, enlaces y otros elementos. <br>
        Además, es el contenedor principal para todo lo que se muestra en la página web,
        y es esencial para la estructura y presentación del sitio.
    </font></p>

    <hr>

    <h2>Ejemplo de uso</h2>
    <p> <font face="Arial" size="4">
        Aquí hay un ejemplo básico de cómo se utiliza la etiqueta <b>&lt;body&gt;</b> en un documento HTML:
        <br><br>
        <code>&lt;!DOCTYPE html&gt;</code>
        <br>
        <code>&lt;html lang="en"&gt;</code>
        <br>
        <code>&lt;head&gt;</code>
        <br>
        <code>&lt;title&gt;Título de la página&lt;/title&gt;</code>
        <br>
        <code>&lt;/head&gt;</code>
        <br>
        <code>&lt;body&gt;</code>
        <br>
        <code>Contenido de la página</code>
        <br>
        <code>&lt;/body&gt;</code>
        <br>
        <code>&lt;/html&gt;</code>
    </font></p>


    <center>


    <button onclick="window.location.href='/inicio'">Pagina principal</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/head'">Anterior etiqueta</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/h1'">Siguiente etiqueta</button>

    </center>
</body>
</html>