<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Etiqueta button</title>
</head>

<body>

<h1 align="center">Etiqueta &lt;button&gt;</h1>
<hr>

<h2>¿Qué es la etiqueta &lt;button&gt;?</h2>

<p>
  La etiqueta <b>&lt;button&gt;</b> se utiliza para crear botones interactivos
  que pueden ejecutar acciones o enviar formularios.
</p>

<hr>

<center>

  <h2>Ejemplo funcionando</h2>

  <button>Haz clic aquí</button>

</center>

<h2>Código del ejemplo</h2>

<pre>
&lt;button&gt;
Haz clic aquí
&lt;/button&gt;
</pre>

<hr>

<center>

  <button onclick="window.location.href='/inicio'">Pagina principal</button>
  &nbsp;&nbsp;
  <button onclick="window.location.href='/input'">Anterior etiqueta</button>
</center>

</body>
</html>
