<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiqueta em</title>
</head>
<body>
    <h1 align="center"><b>Etiqueta em</b></h1>
    <hr>
    <h2>¿Qué es la etiqueta em?</h2>
    <p> <font face="Arial" size="4">
        La etiqueta <b>&lt;em&gt;</b> define un texto en cursiva en una página HTML.
        Se utiliza para dar énfasis a una parte específica del texto.
        <br><br>
    </font></p>

    <hr>

    <h2>Ejemplo de uso</h2>
    <p> <font face="Arial" size="4">
        Ejemplo básico de cómo se utiliza la etiqueta <b>&lt;em&gt;</b> en un documento HTML:
        <br><br>
        <code>&lt;!DOCTYPE html&gt;</code>
        <br>
        <code>&lt;html lang="en"&gt;</code>
        <br>
        <code>&lt;head&gt;</code>
        <br>
        <code>&lt;title&gt;Título de la página&lt;/title&gt;</code>
        <br>
        <code>&lt;/head&gt;</code>
        <br>
        <code>&lt;body&gt;</code>
        <br>
        <code>&lt;h1&gt;Título principal&lt;/h1&gt;</code>
        <br>
        <code>&lt;p&gt;Este es un párrafo de ejemplo con &lt;em&gt;texto en cursiva&lt;/em&gt;.&lt;/p&gt;</code>
        <br>
        <code>&lt;/body&gt;</code>
        <br>
        <code>&lt;/html&gt;</code>
    </font></p>

    <hr>
    <h2>Resultado</h2>
    <p> Este es un párrafo de ejemplo con <em>texto en cursiva</em>.</p>
    <hr>

    <center>
    <button onclick="window.location.href='/inicio'">Pagina principal</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/strong'">Anterior etiqueta</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/a'">Siguiente etiqueta</button>
    </center>

</body>
</html>