<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Etiqueta form</title>
</head>

<body>

<h1 align="center">Etiqueta &lt;form&gt;</h1>
<hr>

<h2>¿Qué es la etiqueta &lt;form&gt;?</h2>

<p>
  La etiqueta <b>&lt;form&gt;</b> se utiliza para crear formularios donde
  los usuarios pueden ingresar información.
</p>

<hr>

<center>

  <h2>Ejemplo funcionando</h2>

  <form>

    Nombre:
    <input type="text">

    <br><br>

    <input type="submit" value="Enviar">

  </form>

</center>

<h2>Código del ejemplo</h2>

<pre>
&lt;form&gt;

Nombre:
&lt;input type="text"&gt;

&lt;input type="submit" value="Enviar"&gt;

&lt;/form&gt;
</pre>

<hr>

<center>
  <button onclick="window.location.href='/inicio'">Pagina principal</button>
  &nbsp;&nbsp;
  <button onclick="window.location.href='/td'">Anterior etiqueta</button>
  &nbsp;&nbsp;
  <button onclick="window.location.href='/input'">Siguiente etiqueta</button>

</center>

</body>
</html>
