<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiqueta H2</title>
</head>
<body>
    <h1 align="center"><b>Etiqueta H2</b></h1>
    <hr>
    <h2>¿Qué es la etiqueta H2?</h2>
    <p> <font face="Arial" size="4">
        La etiqueta <b>&lt;h2&gt;</b> define un subtítulo en una página HTML.
        Se utiliza para organizar el contenido en niveles de encabezado, siendo <b>&lt;h1&gt;</b> el más importante y <b>&lt;h2&gt;</b> el siguiente en importancia.
        <br><br>
    </font></p>

    <hr>

    <h2>Ejemplo de uso</h2>
    <p> <font face="Arial" size="4">
        Ejemplo básico de cómo se utiliza la etiqueta <b>&lt;h2&gt;</b> en un documento HTML:
        <br><br>
        <code>&lt;!DOCTYPE html&gt;</code>
        <br>
        <code>&lt;html lang="en"&gt;</code>
        <br>
        <code>&lt;head&gt;</code>
        <br>
        <code>&lt;title&gt;Título de la página&lt;/title&gt;</code>
        <br>
        <code>&lt;/head&gt;</code>
        <br>
        <code>&lt;body&gt;</code>
        <br>
        <code>&lt;h1&gt;Título principal&lt;/h1&gt;</code>
        <br>
        <code>&lt;h2&gt;Subtítulo&lt;/h2&gt;</code>
        <br>
        <code>&lt;/body&gt;</code>
        <br>
        <code>&lt;/html&gt;</code>
    </font></p>
    <hr>

    <h2>Resultado</h2>
    <p>Este es el resultado de un H2 debajo de un H1</p>
    <h1>Titulo H1</h1>
    <h2>Titulo H2</h2>

    <hr>
    <center>
    <button onclick="window.location.href='/inicio'">Pagina principal</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/h1'">Anterior etiqueta</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/p'">Siguiente etiqueta</button>
    </center>
</body>
</html>