<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiqueta Head</title>
</head>
<body>
    <h1 align="center"><b>Etiqueta Head</b></h1>
    <hr>
    <h2>¿Qué es la etiqueta Head?</h2>
    <p> <font face="Arial" size="4">
        La etiqueta <b>&lt;head&gt;</b> contiene metadatos del documento HTML, como el título de la página
        y los enlaces a hojas de estilo. <br>
        Es importante para definir la información que no se muestra directamente en la página,
        pero que es esencial para el funcionamiento y la presentación del sitio web.
    </font></p>
    <hr>

    <h2>Ejemplo de uso</h2>
    <p> <font face="Arial" size="4">
        Así es como se ve la etiqueta <b>&lt;head&gt;</b> en un documento HTML:
        <br><br>
        <code>&lt;head&gt;</code>
        <br>
        <code>&lt;title&gt;Título de la página&lt;/title&gt;</code>
        <br>
        <code>&lt;link rel="stylesheet" type="text/css" href="estilo.css"&gt;</code>
        <br>
        <code>&lt;/head&gt;</code>

    </font></p>

    <center>

    <button onclick="window.location.href='/inicio'">Pagina principal</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/html'">Anterior etiqueta</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/body'">Siguiente etiqueta</button>

    </center>
</body>
</html>