<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etiqueta img</title>
</head>

<body>

<h1 align="center">Etiqueta &lt;img&gt;</h1>
<hr>

<h2>¿Qué es la etiqueta &lt;img&gt;?</h2>

<p>
    La etiqueta <b>&lt;img&gt;</b> se utiliza para mostrar imagenes en una pagina web.
</p>
<hr>

<h2>Ejemplo funcionando</h2>
<center>
    <p>imagen del escudo IPN:</p>
    <img src="/fotos/ipn.png">
    <hr>
</center>

<h2>Código del ejemplo</h2>

<pre>
&lt;html&gt;
&lt;body&gt;

&lt;p&gt;Imagen del escudo del IPN&lt;/p&gt;

&lt;img src="fotos/ipn.png" &gt;

&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

<center>
    <button onclick="window.location.href='/inicio'">Pagina principal</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/a'">Anterior etiqueta</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/video'">Siguiente etiqueta</button>

</center>

</body>
</html>
