<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Etiqueta input</title>
</head>

<body>

<h1 align="center">Etiqueta &lt;input&gt;</h1>
<hr>

<h2>¿Qué es la etiqueta &lt;input&gt;?</h2>

<p>
  La etiqueta <b>&lt;input&gt;</b> permite al usuario ingresar datos en un formulario.
  Puede ser texto, números, contraseñas, entre otros.
</p>

<hr>

<center>

  <h2>Ejemplo funcionando</h2>

  <input type="text" placeholder="Escribe tu nombre">

</center>

<h2>Código del ejemplo</h2>

<pre>
&lt;input type="text" placeholder="Escribe tu nombre"&gt;
</pre>

<hr>

<center>

  <a href="inicio.html">
    <button>Página principal</button>
  </a>

  &nbsp;&nbsp;

  <a href="form.html">
    <button>Anterior etiqueta</button>
  </a>

  &nbsp;&nbsp;

  <a href="button.html">
    <button>Siguiente etiqueta</button>
  </a>

</center>

</body>
</html>
