<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Etiqueta li</title>
</head>

<body>

<h1 align="center">Etiqueta &lt;li&gt;</h1>
<hr>

<h2>¿Qué es la etiqueta &lt;li&gt;?</h2>

<p>
  La etiqueta <b>&lt;li&gt;</b> se utiliza para crear elementos dentro de una lista,
  ya sea ordenada o desordenada.
</p>

<hr>

<center>

  <h2>Ejemplo funcionando</h2>

  <ul>
    <li>Manzana</li>
    <li>Naranja</li>
    <li>Plátano</li>
  </ul>

</center>

<h2>Código del ejemplo</h2>

<pre>
&lt;ul&gt;
&lt;li&gt;Manzana&lt;/li&gt;
&lt;li&gt;Naranja&lt;/li&gt;
&lt;li&gt;Plátano&lt;/li&gt;
&lt;/ul&gt;
</pre>
<hr>

<center>

  <a href="inicio.html">
    <button>
      Página principal
    </button>
  </a>

  &nbsp;&nbsp;

  <a href="audio.html">
    <button>
      Anterior etiqueta
    </button>
  </a>

  &nbsp;&nbsp;

  <a href="table.html">
    <button>
      Siguiente etiqueta
    </button>
  </a>


</center>

</body>
</html>
