<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etiqueta table</title>
</head>

<body>

<h1 align="center">Etiqueta &lt;table&gt;</h1>
<hr>

<h2>¿Qué es la etiqueta &lt;table&gt;?</h2>

<p>
    La etiqueta <b>&lt;table&gt;</b> se utiliza para crear tablas en HTML.
    Dentro de ella se organizan filas y columnas para mostrar información.
</p>

<hr>

<center>

    <h2>Ejemplo funcionando</h2>

    <table border="1">

        <tr>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>

        <tr>
            <td>Ana</td>
            <td>20</td>
        </tr>

        <tr>
            <td>Luis</td>
            <td>22</td>
        </tr>

    </table>

</center>

<h2>Código del ejemplo</h2>

<pre>
&lt;table border="1"&gt;

&lt;tr&gt;
&lt;th&gt;Nombre&lt;/th&gt;
&lt;th&gt;Edad&lt;/th&gt;
&lt;/tr&gt;

&lt;tr&gt;
&lt;td&gt;Ana&lt;/td&gt;
&lt;td&gt;20&lt;/td&gt;
&lt;/tr&gt;

&lt;/table&gt;
</pre>

<hr>

<center>

    <button onclick="window.location.href='/inicio'">Pagina principal</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/li'">Anterior etiqueta</button>
    &nbsp;&nbsp;
    <button onclick="window.location.href='/tr'">Siguiente etiqueta</button>

</center>

</body>
</html>
