<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Etiqueta tr</title>
</head>

<body>

<h1 align="center">Etiqueta &lt;tr&gt;</h1>
<hr>

<h2>¿Qué es la etiqueta &lt;tr&gt;?</h2>

<p>
  La etiqueta <b>&lt;tr&gt;</b> se utiliza para crear una fila dentro de una tabla.
  Dentro de ella se colocan las celdas con la etiqueta &lt;td&gt;.
</p>

<hr>

<center>

  <h2>Ejemplo funcionando</h2>

  <table border="1">

    <tr>
      <td>Producto</td>
      <td>Precio</td>
    </tr>

    <tr>
      <td>Manzana</td>
      <td>$10</td>
    </tr>

  </table>

</center>

<h2>Código del ejemplo</h2>

<pre>
&lt;table&gt;

&lt;tr&gt;
&lt;td&gt;Producto&lt;/td&gt;
&lt;td&gt;Precio&lt;/td&gt;
&lt;/tr&gt;

&lt;/table&gt;
</pre>

<hr>

<center>

  <a href="inicio.html">
    <button>Página principal</button>
  </a>

  &nbsp;&nbsp;

  <a href="table.html">
    <button>Anterior etiqueta</button>
  </a>

  &nbsp;&nbsp;

  <a href="td.html">
    <button>Siguiente etiqueta</button>
  </a>

</center>

</body>
</html>
