<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etiqueta video</title>
</head>

<body>

<h1 align="center">Etiqueta &lt;video&gt;</h1>
<hr>

<h2>¿Qué es la etiqueta &lt;video&gt;?</h2>

<p>
    La etiqueta <b>&lt;video&gt;</b> se utiliza para colocar videos en paginas web, en donde cada uno posee distintas
    caracteristicas y funciones para reproducir el video.
</p>

<hr>

<center>
    <h2>Ejemplo funcionando</h2>

    <video controls>
        <source src="/static/fotos/WhatsApp%20Video%202026-03-09%20at%206.29.34%20PM.mp4">
    </video>
</center>

<h2>Código del ejemplo</h2>

<pre>
&lt;p&gt;Video historia del IPN &lt;/p&gt;

&lt;video controls&gt;
&lt;source src="videos/ejemplo.mp4" type="video/mp4"&gt;
&lt;/video&gt;
</pre>

<hr>

<center>

    <a href="inicio.html">
        <button>
            Página principal
        </button>
    </a>

    &nbsp;&nbsp;

    <a href="img.html">
        <button>
            Anterior etiqueta
        </button>
    </a>

    &nbsp;&nbsp;

    <a href="audio.html">
        <button onclick="window.location.href='/h2'">
            Siguiente etiqueta
        </button>
    </a>


</center>

</body>
</html>
